{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="title icon" href="{% static 'images/title-img.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style_dash.css' %}">
    <title>Socrates | Dashboard</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container-fluid">
                <div class="row">
                    <!-- sidebar -->
                    <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
                        <div class="bottom-border p-3 mt-3">
                            <div class="one-portal bottom-border">
                                <h4 class="text-white text-uppercase text-center mb-3">One Portal</h4>
                            </div>
                            <div class="info my-3 text-center">
                                <!-- <img src="images/logo.png" width="50" class="rounded-circle mr-3" style="border-radius: 5px black;"> -->
                                <a href="#" class="text-white text-uppercase text-center">{{user.first_name}} {{user.last_name}}</a>
                                <p class="text-center text-white custom-small">FACULTY | {{data.FacultyID.EmployeeID}} | {{data.Department}} </p>
                            </div>
                        </div>
                        <ul class="navbar-nav flex-column mt-4">
                            <li class="nav-item"><a href="Home" class="nav-link text-white p-1 mb-2 current"><small><i class="fas fa-home text-light fa-sm mr-3"></i>Profile</small></a></li>
                            <li class="nav-item"><a href="lecture" class="nav-link text-white p-1 mb-2 sidebar-link"><small><i class="fas fa-table text-light fa-sm mr-3"></i>Lecture Corner</small></a></li>
                            <li class="nav-item"><a href="quizStudentView" class="nav-link text-white p-1 mb-2 sidebar-link"><small><i class="fas fa-table text-light fa-sm mr-3"></i>Quiz</small></a></li>

                            <li class="nav-item"><a href="assignmentStudentView" class="nav-link text-white p-1 mb-2 sidebar-link"><small><i class="fas fa-table text-light fa-sm mr-3"></i>Asignment</small></a></li>

                            <li class="nav-item"><a href="/accounts/logout" class="nav-link text-white p-1 mb-2 sidebar-link"><small><i class="fas fa-wrench text-light fa-sm mr-3"></i>Logout</small></a>
                                <a></li>

                        </ul>
                    </div>
                    <!-- end of sidebar -->

                    <!-- top-nav -->

                    <!-- end of top-nav -->
                </div>
            </div>
        </div>
    </nav>



    {% if lecture %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                    <div class="row pt-md-5 mt-md-3 mb-5">
                        {% for notice in lecture %}
                        <div class="col-xl-3 col-sm-6 p-1 ml-5">
                            <div class="card card-common">
                                <div class="theme-background mr-2">
                                    <div class="card-body">
                                        <div class="justify-content-between">
                                            <i class="fas fa-university fa-1x text-warning"></i>

                                            <p style="font-size: small;" class="text-center text-white text-uppercase">
                                                {{notice.lecture.subjectName}}
                                            </p>
                                            <p class="text-warning text-center small">
                                                Taught By : {{notice.lecture.TaughtBy}}
                                            </p>
                                            <p class="text-warning text-center small">Credit : {{notice.lecture.Credit}}</p>
                                            <span class='text-center'><a style="text-decoration: none;color:white;" href="{{notice.id}}/view">View Details</a></span>

                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer text-secondary">
                                    <i class="fas fa-arrow-right mr-3"></i>
                                    <a href="/{{notice.LessonPlan}}">Lesson plan</a> |
                                    <a class="small" style="text-decoration:none; " href="{{notice.id}}/attendence">Attendance</a>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>

</html>