{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">
    <link rel="title icon" href="{% static 'images/title-img.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style_dash.css' %}">
    <link rel="stylesheet" href="{% static 'css/circle.css' %}">
    <title>OnePortal | Dashboard</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container-fluid">
                <div class="row">
                    <!-- sidebar -->
                    <div class="col-xl-2 col-lg-3 col-md-4 sidebar
                            fixed-top">
                        <div class="bottom-border p-3 mt-3">
                            <div class="one-portal bottom-border">
                                <h4 class="text-white text-uppercase
                                        text-center mb-3">One Portal</h4>
                            </div>
                            <div class="info my-3 text-center">
                                <!-- <img src="images/logo.png" width="50" class="rounded-circle mr-3" style="border-radius: 5px black;"> -->
                                <a href="#" class="text-white text-uppercase
                                        text-center">{{user.first_name}}
                                    {{user.last_name}}</a>
                                <p class="text-center text-white
                                        custom-small">Student | {{data.student.EnrollmentNumber}} | {{data.Department}}
                                </p>
                            </div>
                        </div>
                        <ul class="navbar-nav flex-column mt-4">
                            <li class="nav-item"><a href="/" class="nav-link
                                        text-white p-1 mb-2 current"><i class="fas fa-home text-light fa-lg
                                            mr-3"></i><small>Profile</small></a></li>
                            <li class="nav-item"><a href="/academic/student/quizStudentView" class="nav-link text-white p-1 mb-2 sidebar-link"><small><i class="fas fa-table text-light fa-sm mr-3"></i>Quiz</small></a></li>

                            <li class="nav-item"><a href="/academic/student/assignmentStudentView" class="nav-link text-white p-1 mb-2
                                        sidebar-link"><i class="fas fa-user
                                            text-light fa-lg mr-3"></i><small>Assignment</small></a></li>
                            <li class="nav-item"><a href="/accounts/logout" class="nav-link text-white p-1 mb-2
                                        sidebar-link"><i class="fas fa-wrench
                                            text-light fa-lg mr-3"></i><small>Logout</small><a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {% if quizListView %} 
    <section>
        <div class="container-fluid">
            <div class="col-xl-10 col-sm-6 ml-auto">
                <div class="row">
                    {% if quizObject %}
                    {% for i in quizObject %}
                    <div class="col-xl-6 col-sm-6 p-1">
                        <div class="card card-common">
                            <div class="theme-background mr-2">
                                <div class="card-body">
                                    <div class="justify-content-between">
                                        <i class="fas fa-university fa-1x text-warning"></i>
                                        <p style="font-size: small;" class="text-center text-white text-uppercase">
                                            {{i.object.name}}
                                        </p>
                                        <div class="row text-center">
                                            <div class="col-xl-6 text-white">
                                                <h6>Quiz Date</h6>
                                                <p class="text-white">{{i.object.quizDate}}</p>
                                            </div>
                                            <div class="col-xl-6 text-white">
                                                <h6>Subject</h6>
                                                <p>{{i.subject}} ( {{i.object.subject.subjectName}} )
                                                </p>

                                            </div>

                                        </div>
                                        <hr color="background:white">
                                        <div class="row text-white text-center">
                                            <div class="col-xl-6">
                                                <h6>Quiz Start Time</h6>
                                                <p>{{i.object.quizStartTime}}</p>
                                            </div>
                                            <div class="col-xl-6">
                                                <h6>Quiz End Time</h6>
                                                <p>{{i.object.quizEndTime}}</p>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center text-white">
                                            <div class="col-xl-12 text-center">
                                                <h6>Duration</h6>
                                                <p>{{i.object.duration}} min</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if i.isAttemptable %} 
                            <div class="card-footer text-center">
                                <i class="fas fa-arrow-right mr-3"></i>
                                <a href="/academic/student/quizStudentView/{{i.object.id}}/attemptQuiz">Attempt Quiz</a>
                            </div>
                            {% else %}
                            <div class="card-footer text-center">
                                <i class="fas fa-arrow-right mr-3"></i>
                                <a href="{{i.object.id}}/quizDetailView">View
                                                Details </a>
                            </div>
                        {% endif %}
                </div>
            </div>
            {% endfor %} {% else %}
            <div class="col-xl-10 ml-auto">
                <div class="row justify-content-center">
                    <h4 class="text-uppercase text-center">No Quiz Available</h4>
                </div>
            </div>
            {% endif %}
        </div>
        </div>
        </div>
        </section>
        {% endif %} {% if attemptQuizStudentView %}
        <section>
            <div class="container-fluid">
                <div class="col-xl-10 col-lg-10 col-md-8 col-sm-6 ml-auto">
                    <div class="row justify-content-center">
                        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-12">
                            <div class="card my-3">
                                <div class="card-body">
                                    <h2>Quiz 1</h2>
                                    <h5 class="course">Course</h5>
                                    <div class="clock text-center">10:30 AM</div>
                                    <p id="demo"></p><script>

                                        function bhaiSametLe() {
                                            document.getElementById('qForm').submit();  
                                        }
                                        document.getElementById('demo').innerHTML = {{quizObject.duration}} + ":" + 01;
                                        startTimer();


                                        function startTimer() {
                                        var presentTime = document.getElementById('demo').innerHTML;
                                        var timeArray = presentTime.split(/[:]+/);
                                        var m = timeArray[0];
                                        var s = checkSecond((timeArray[1] - 1));
                                        if(s==59){m=m-1}
                                        if(m<0){
                                            bhaiSametLe();
                                            return;
                                        }
                                        
                                        document.getElementById('demo').innerHTML =
                                            m + ":" + s;
                                        console.log(m)
                                        setTimeout(startTimer, 100);
                                        
                                        }

                                        function checkSecond(sec) {
                                        if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
                                        if (sec < 0) {sec = "59"};
                                        return sec;
                                        }
                                        
                                    </script>
                                    <!-- <script src="{% static 'js/countdown.js' %}"></script> -->
                                </div>
                            </div>
                            <div class="fixed-top">
                               
                            </div>
                            <!--  -->
                            <form action="submitQuiz"  method="POST"  id="qForm"> {% csrf_token %}
                            <div id="quizLists">
                            {% for i in questionsObject %}
                            <div class="card my-3">
                                <div class="card-body">
                                    <p>{{forloop.counter}} {{i.question}}</p>
                                    {% if i.option2 %}
                                    <div class="col" id="{{i.id}}">
                                        <input type="checkbox" name="{{i.id}}%option1" id="option1"> <label>{{i.option1}}</label><br>
                                        <input type="checkbox" name="{{i.id}}%option2" id="option2" > <label>{{i.option2}}</label><br>
                                        <input type="checkbox" name="{{i.id}}%option3" id="option3"> <label>{{i.option3}}</label><br>
                                        <input type="checkbox" name="{{i.id}}%option4" id="option4"> <label>{{i.option4}}</label><br>
                                    </div>
                                    {% else %} 
                                    <div>
                                        <input type="text" class="form-control" name="{{i.id}}">
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                            </div>
                            <div class="text-right my-3 center">
                                <button class="btn btn-primary my-5 py-2 btn1">Submit</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% endif %} {% if quizResultView %}
        <div class="container-fluid">
            <div class="col-xl-10 col-lg-10 ml-auto">

                <div class="row justify-content-center">
                    {% if signal %}
                    <h4>Data Not Found</h4>
                    {% else %}
                    <div class="card card-common">
                        <div class="card-body">



                            <h2 class="text-center text-muted font-weight-bold m-4">Quiz Evaluation</h2>
                            <div class="row justify-content-center">

                                <!-- <div class="col-xl-5 col-lg-5 align-items-center"> -->
                                <div class="c100 p{{totalPercent}} mx-5">
                                    <span class="text-primary">{{totalPercent}}%</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                                <!-- </div> -->
                                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <div class="card">
                                        <div class="card-body result-card">
                                            <div class="row justify-content-center">
                                                <div class="col-xl-4">
                                                    <div class="correct my-2 mx-3 text-center">
                                                        <h6 class="">Correct Questions</h6>
                                                        <i class="fas fa-check-circle mr-1" style="color:green "></i><span class="p-2">{{quizGradesObject.correctAnswers}}</span>

                                                    </div>

                                                </div>
                                                <div class="col-xl-4">
                                                    <div class="correct my-2 mx-3 text-center">
                                                        <h6 class="">Wrong Questions</h6>
                                                        <i class="fa fa-window-close mr-1" style="color:red "></i><span class="p-2">{{quizGradesObject.wrongAnswers}}</span>

                                                    </div>

                                                </div>
                                                <div class="col-xl-4">
                                                    <div class="correct my-2 mx-3 text-center">
                                                        <h6 class="">unattempted Questions</h6>
                                                        <i class="fas fa-question mr-1" style="color:orange "></i><span class="p-2">{{quizGradesObject.unAttemptedQuestions}}</span>

                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card result-card my-5 details">
                                <div class="card-body ">
                                    <div class="col-xl-12">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <p class="text-uppercase">Subject : {{quizGradesObject.quiz.subject.subjectName}}</p>
                                                <p class="text-uppercase">Subject Code : {{quizGradesObject.quiz.subject}}</p>
                                                <p class="text-uppercase"> Status : Submitted</p>
                                            </div>
                                            <div class="col-xl-6">
                                                <p class="text-uppercase">Started On : {{quizGradesObject.startedOn}}</p>
                                                <p class="text-uppercase">Time Taken : {{quizGradesObject.timeTaken}}</p>
                                                <p class="text-uppercase">Submitted On : {{quizGradesObject.submitedOn}}</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- </div> -->
                        </div>
                    </div>
                    {% endif %}
                </div>

            </div>

            {% endif %} {% if quizResultView %} {% endif %}


            <script>
                {% for i in messages %}
                alert('{{i}}');
                {% endfor %}

            </script>

</body>

</html>