{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="title icon" href="{% static 'images/title-img.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style_dash.css' %}">
    <title>Socrates | Dashboard</title>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container-fluid">
                <div class="row">
                    <!-- sidebar -->
                    <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
                        <div class="bottom-border p-3 mt-3">
                            <div class="one-portal bottom-border">
                                <h4 class="text-white text-uppercase text-center mb-3">One Portal</h4>
                            </div>
                            <div class="info my-3 text-center">
                                <!-- <img src="images/logo.png" width="50" class="rounded-circle mr-3" style="border-radius: 5px black;"> -->
                                <a href="#" class="text-white text-uppercase text-center">{{user.first_name}} {{user.last_name}}</a>
                                <p class="text-center text-white custom-small">FACULTY | {{data.FacultyID.EmployeeID}} | {{data.Department}} </p>
                            </div>
                        </div>
                        <ul class="navbar-nav flex-column mt-4">
                            <li class="nav-item"><a href="/" class="nav-link text-white p-1 mb-2 sidebar-link"><small><i
                      class="fas fa-home text-light fa-sm mr-3"></i>Profile</small></a></li>
                            <li class="nav-item"><a href="#" data-toggle="modal" data-target="#addSubjectModal" class="nav-link text-white p-1 mb-2 sidebar-link"><small><i
                      class="fas fa-user text-light fa-sm mr-3"></i>Add subject</small></a></li>
                            <!-- <li class="nav-item"><a href="/academic/HOD/lecture/view" class="nav-link text-white p-1 mb-2"><small><i
                      class="fas fa-shopping-cart text-light fa-sm mr-3"></i>Ongoing Lecture</small></a></li> -->
                            <li class="nav-item">
                                <a href="/academic/HOD/Enrollment" class="nav-link text-white p-1 mb-2 sidebar-link">
                                    <i class="fas fa-chart-line text-light fa-sm mr-3"></i><small>Enroll Students</small></a>
                            </li>
                            <!--  <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-chart-bar text-light fa-lg mr-3"></i> Calender</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-table text-light fa-lg mr-3"></i>Time Table </a></li>
               -->
                            <li class="nav-item"><a href="/accounts/logout" class="nav-link text-white p-1 mb-2 sidebar-link"><small><i
                      class="fas fa-wrench text-light fa-sm mr-3"></i>Logout</small><a></li>

            </ul>
          </div>

        </div>
      </div>
    </div>
  </nav>
  <!-- Modal -->
  <div class="modal fade" id="addSubjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Subjects Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/academic/HOD/lecture/create" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div class="modal-body">

    <div class="row justify-content-center text-center">
        <div class="col-xl-6">
            <label>Subject Name</label>
            <input name="subjectName" type="text" class="form-control">
        </div>
        <div class="col-xl-6">
            <label>Subject Credit</label>
            <input name="credit" type="text" class="form-control">
        </div>
    </div>
    <div class="row text-center mt-2">
        <div class="col-xl-6">
            <label>Lesson Plan</label>
            <input name="lessonPlan" type="file" class="form-control-file text-center">
        </div>
        <div class="col-xl-6">
            <label>Semester</label>
            <input name="semester" type="number" min="1" class="form-control">
        </div>
    </div>
    <div class="row justify-content-center text-center mt-2">
        <div class="col-xl-6">
            <label>Faculty</label>
            <select name="faculty" class="custom-select">
                {% for i in faculties %}
                <option value="{{i.id}}">{{i.FacultyID.Name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
      </div>
    </div>
  </div>
  {% if home %}
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
          <div class="row pt-md-5 mt-md-3 mb-5">

            <div class="col-xl-3 col-sm-6 p-2">
              <div class="card card-common">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <i class="fas fa-child fa-3x text-warning"></i>
                    <div class="text-primary">
                      <p>
                        Total Students : {{students}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 p-2">
              <div class="card card-common">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <i class="fas fa-university fa-3x text-warning"></i>
                    <div class="text-primary">
                      <p>
                        Total Faculty : {{faculty}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 p-2">
              <div class="card card-common">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <i class="fas fa-book fa-3x text-warning"></i>
                    <div class="text-primary">
                      <p>
                        Total Lectures : {{lecture_count}}
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  {% endif %}
  <!-- end of cards -->

  <!-- tables -->
  {% if lectures %}
  <section>
    <div class="container-fluid">
      <div class="row mb-5">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
          <div class="row align-items-center">
            <div class="container">
              <div class="col-xl-12 col-lg-12 mb-4 mb-xl-0">
                <h3 class="text-dark text-center mb-3"><b>Lectures </b></h3>
                <br>
                <table class="table table-bordered table-dark table-responsive text-center">
                  <thead>
                    <tr class="text-muted">
                      <th scope="col">Lecture ID</th>
                      <th colspan="2" scope="col">Lecture Name</th>
                      <th scope="col">Department</th>
                      <th scope="col">taught by</th>
                      <th scope="col">LastFaculty</th>
                      <th scope="col">semster</th>
                      <th scope="col">Credit <small>L-T-P-C</small></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for out in lectures %}
                    <tr scope="row">
                      <td>{{ out.LectureID}}</td>
                      <td colspan="2">{{ out.LectureName }}</td>
                      <td>{{ out.Department }}</td>
                      <td>{{ out.TaughtBy }}</td>
                      <td>{{ out.LastTaughtBy }}</td>
                      <td>{{ out.Semester}}</td>
                      <td>{{ out.Credit}}</td>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>

                </table>
                <!-- pagination -->
                <nav>
                  <ul class="pagination justify-content-center">
                    <li class="page-item">
                      <a href="#" class="page-link py-2 px-3">
                        <span>&laquo;</span>
                      </a>
                            </li>
                            <li class="page-item active">
                                <a href="#" class="page-link py-2 px-3">
                        1
                      </a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link py-2 px-3">
                        2
                      </a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link py-2 px-3">
                        3
                      </a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link py-2 px-3">
                                    <span>&raquo;</span>
                                </a>
                            </li>
                        </ul>
    </nav>
    <!-- end of pagination -->
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    {% endif %} {% if lectureStatus %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                    <div class="row pt-md-5 mt-md-3 mb-5">
                        {% for notice in lect %}
                        <div class="col-xl-3 col-sm-6 p-1">
                            <div class="card card-common">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <i class="fas fa-university text-warning"></i>
                                        <div class="jumbotron">
                                            <p class="text-right bold">
                                                {{notice.LectureTitle}}<br>
                                                <span class="text-left small">
                          Status : {{notice.LectureStatus}}<br>
                          Sent To : {{notice.NextSendTo}}
                        </span>
                                            </p>
                                            <span>
                        <a style="color:crimson;text-decoration: none;" class=" text-right"
                          href="{{notice.TempLectureID}}/Approve">Approve</a> |
                        <a style="color:black ;text-decoration:none;" class="text-right "
                          href="{{notice.TempLectureID}}/Hold">Hold</a>
                        <a style="color:darkcyan ;text-decoration:none;" class="text-right" data-toggle="tooltip"
                          title="Send The Changes Suggested by higher level to lower level"
                          href="{{notice.TempLectureID}}/Configure">Configure</a>

                      </span><br>
                                            <div class="mt-3">
                                                <p class="text-center small">Wants to Request some Changes?</p><br>
                                                <button data-toggle="dropdown" class="btn btn-secondary btn-sm dropdown-toggle">Request
                          Change</button>
                                                <div class="dropdown-menu">
                                                    <form action="{{notice.TempLectureID}}/update" method="POST" class="px-4 py-3">{% csrf_token %}
                                                        <div class="container">
                                                            <div class="form-group ">
                                                                <label for="inputEmail4">Enter Changes</label>
                                                            </div>
                                                            <div class="form-group">
                                                                <textarea class="form-control lg-textarea" name="Changes" required></textarea>
                                                            </div>
                                                            <button type="submit" class="btn btn-sm btn-warning ">Submit Request</button>
                                                    </form>

                                                    <div class="dropdown-divider"></div>


                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-secondary">
                                    <i class="fas fa-arrow-right mr-2"></i>
                                    <a href="/{{notice.TempLessonPlan}}">Lesson plan</a> | <a href="/{{notice.Changes}}">Changes</a>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %} {% if lectureInformation %}

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                    <div class="row pt-md-5 mt-md-3 mb-5">
                        {% for notice in lectureInformation %}
                        <div class="col-xl-6 col-sm-6">
                            <div class="card card-common">
                                <div class="theme-background mr-2 mt-1">
                                    <div class="card-body">
                                        <div class="justify-content-between">
                                            <i class="fas fa-university fa-1x text-warning"></i>

                                            <p class="text-center text-white text-uppercase">
                                                {{notice.subjectName}}
                                            </p>
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <h6 class="text-center text-white">
                                                        Taught By
                                                    </h6>
                                                    <p class="text-center text-white">{{notice.TaughtBy.FacultyID.Name}}</p>
                                                </div>
                                                <div class="col-xl-6">
                                                    <h6 class="text-light text-center">Subject Code</h6>
                                                    <p class="text-white text-center">{{notice.subjectCode}}</p>

                                                </div>
                                            </div>
                                            <hr style="color:white;">
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <h6 class="text-center text-white">
                                                        Semester
                                                    </h6>
                                                    <p class="text-center text-white">{{notice.Semester}}</p>
                                                </div>
                                                <div class="col-xl-6">
                                                    <h6 class="text-light text-center ">Credit : </h6>
                                                    <p class="text-white text-center">{{notice.Credit}}</p>

                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer text-secondary">
                                    <div class="row justify-content-center p-2">
                                        <i class="fas fa-arrow-right mr-3"></i>
                                        <span class='text-center '><a style="text-decoration: none;" href="{{notice.id}}/view">View
                                        Details</a></span> | <a href="#" style="text-decoration:none;" data-toggle="modal" data-target="#exampleModal{{notice.id}}">   Assign Faculty</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="exampleModal{{notice.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                                    </div>
                                    <form action="{{notice.id}}/assignFaculty" method="POST">{% csrf_token %}
                                        <div class="modal-body">
                                            {{notice.id}}
                                            <div class="container">
                                                <label>Select Faculty</label>
                                                <select class="custom-select" name="faculty">
                          {% for i in faculties %}
                          <option value="{{i.id}}">{{i.FacultyID.Name}}</option>
                          {% endfor %}
                        </select>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>


    {% endif %} {% if outs %}
    <section>
        <div class="container-fluid">
            <div class="row mb-5">
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                    <div class="row align-items-center">
                        <div class="col-xl-8 col-md-6 col-sm-6 p-1 ml-5">
                            <div class="card card-common">
                                <div class="card-body">
                                    <br>
                                    <table class="table table-stripped table-responsive  text-center">
                                        <thead>
                                            <tr class="">
                                                <th scope="col">EnrollmentID</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Department</th>
                                                <th scope="col">Email ID</th>
                                                <th scope="col">semster</th>
                                                <th scope="col">Program </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for out in outs %}
                                            <tr scope="row">
                                                <td><small>{{ out.student}}</small></td>
                                                <td><small>{{ out.student.FirstName}} {{out.studentID.LastName}}</small></td>
                                                <td><small>{{ out.student.Department }}</small></td>
                                                <td><small>{{ out.student.UniversityEmailID }}</small></td>
                                                <td><small>{{ out.student.CurrSem }}</small></td>
                                                <td><small>{{out.student.program.name}}</small></td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>

                                    </table>
                                    <!-- pagination -->
                                    <nav>
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item">
                                                <a href="#" class="page-link py-2 px-3">
                                                    <span>&laquo;</span>
                                                </a>
                                            </li>
                                            <li class="page-item active">
                                                <a href="#" class="page-link py-2 px-3">
                          1
                        </a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link py-2 px-3">
                          2
                        </a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link py-2 px-3">
                          3
                        </a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link py-2 px-3">
                                                    <span>&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <!-- end of pagination -->
                                </div>
                            </div>
                        </div>
                        {% for notice in ongoing %}
                        <div class="col-xl-3 col-sm-6 p-1 ml-3">
                            <div class="card card-common">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <i class="fas fa-university fa-1x text-warning"></i>
                                        <div class="jumbotron ">
                                            <p style="font-size: small;" class="text-center text-secondary">
                                                {{notice.LectureName}}
                                            </p>
                                            <p class="text-dark text-right small">
                                                Taught By : {{notice.TaughtBy}}
                                            </p>
                                            <p class="text-danger text-right small">Credit : {{notice.Credit}}</p>
                                            <span class='text-left'><a style="text-decoration: none;" href="Track"><button
                            class="btn btn-sm btn-outline-danger">Track Lecture</button></a></span>

                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer text-secondary">
                                    <i class="fas fa-arrow-right mr-3"></i>
                                    <small><a href="/{{notice.LessonPlan}}">Lesson plan</a></small>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>


    {% endif %} {% if lectureEnroll %}
    <section>
        <div class="container-fluid">
            <div class="row mb-5">
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                    <div class="row justify-content-center ">
                        <div class="card card-common">
                            <div class="card-body">
                                <h3 class="text-dark text-center mb-3"><b>Please Select a program </b></h3>
                                <div>
                                </div>
                                <br>{% if programs %}
                                <table class="table table-stripped table-responsive text-center">
                                    <thead>
                                        <tr class="text-muted">
                                            <th scope="col">Program Name</th>
                                            <th scope="col">Total Semsters</th>
                                            <th scope="col">School</th>
                                            <th scope="col">Action </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for out in programs %}
                                        <tr scope="row">
                                            <td>{{ out.name}}</td>
                                            <td>{{ out.totalSemester}}</td>
                                            <td>{{ out.school.name }}</td>

                                            <td>
                                                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#exampleModal">Enroll</button>

                                                <!-- Example single danger button -->
                                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                                            </div>
                                                            <form action="/academic/HOD/Enrollment/{{out.id}}" method="POST">{% csrf_token %}
                                                                <div class="modal-body">

                                                                    <label>Select Semester</label>
                                                                    <select class="custom-select" name="semester">
                                                                      {% with ''|center:out.totalSemester as range %}
                                                                      {% for _ in range %}
                                                                          <option value="{{forloop.counter}}">{{ forloop.counter }}</option>
                                                                      {% endfor %}
                                                                      {% endwith %}
                                                                    <!-- {% for i in out.duration|make_list %}
                                                                        <option>{{ forloop.counter }}</option>
                                                                    {% endfor %} -->
                                                                  </select>

                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>

                                </table>
                                {% else %}
                                <h4 class="text-center">No Students remaining to enroll</h4>

                                <!-- pagination -->
                                <nav>
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item">
                                            <a href="#" class="page-link py-2 px-3">
                                                <span>&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item active">
                                            <a href="#" class="page-link py-2 px-3">
                        1
                      </a>
                                        </li>
                                        <li class="page-item">
                                            <a href="#" class="page-link py-2 px-3">
                        2
                      </a>
                                        </li>
                                        <li class="page-item">
                                            <a href="#" class="page-link py-2 px-3">
                        3
                      </a>
                                        </li>
                                        <li class="page-item">
                                            <a href="#" class="page-link py-2 px-3">
                                                <span>&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- end of pagination -->

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    {% endif %} {% endif %} {% if lectureEnrollmentSecond %}

    <section>
        <div class="container-fluid">
            <div class="row mb-5">
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                    <div class="row justify-content-center ">
                        <div class="card card-common">
                            <div class="card-body">

                                <table class="table table-stripped table-responsive text-center">
                                    <thead>
                                        <tr class="text-muted">
                                            <th scope="col">Students of Semester</th>
                                            <th scope="col">Lectures of semester</th>
                                            <th scope="col">School</th>
                                            <th scope="col">Action </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for out in programs %}
                                        <tr scope="row">
                                            <td>{{ out.name}}</td>
                                            <td>{{ out.duration}}</td>
                                            <td>{{ out.school.name }}</td>
                                            <td><a href="Enrollment/{{out.id}}" class="btn btn-warning btn-sm">Enroll</a></td>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endif %} {% if showLectureEnrollment %}
    <section>
        <div class="container-fluid">
            <div class="row mb-5">
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                    <div class="row justify-content-center ">
                        <div class="card card-common">
                            <div class="card-body">
                                <h3 class="text-dark text-center mb-3"><b>Enrolled Students </b></h3>
                                <div>
                                </div>
                                <br>
                                <table class="table table-stripped table-responsive text-center">
                                    <thead>
                                        <tr class="text-muted">
                                            <th scope="col">Student Name</th>
                                            <th scope="col">Subject CODE</th>
                                            <th>Subject Name</th>
                                            <th scope="col">semester</th>
                                            <!-- <th scope="col">Action </th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for out in data %}
                                        <tr scope="row">
                                            <td>{{ out.student}}</td>
                                            <td>{{ out.lecture}}</td>
                                            <td class="text-uppercase">{{out.lecture.subjectName}}</td>
                                            <td>{{ out.lecture.Semester }}</td>

                                            <!-- <td>
                                                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#exampleModal">Enroll</button>
                                            </td> -->
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>

                                </table>



                                <!-- pagination -->
                                <nav>
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item">
                                            <a href="#" class="page-link py-2 px-3">
                                                <span>&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item active">
                                            <a href="#" class="page-link py-2 px-3">
                  1
                </a>
                                        </li>
                                        <li class="page-item">
                                            <a href="#" class="page-link py-2 px-3">
                  2
                </a>
                                        </li>
                                        <li class="page-item">
                                            <a href="#" class="page-link py-2 px-3">
                  3
                </a>
                                        </li>
                                        <li class="page-item">
                                            <a href="#" class="page-link py-2 px-3">
                                                <span>&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- end of pagination -->

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %} {% if trackLecture %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                    <div class="row pt-md-5 mt-md-3 mb-5">
                        <div class="col-xl-12 col-sm-6 p-1 ml-5">
                            <div class="card card-common">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <section class="timeline">
                                            <ol>
                                                {% for i in track %}
                                                <li>
                                                    <div class="div">
                                                        <small class="text-orange"><time>{{ i.startDate }}</time></small>
                                                        <p class="text-white">{{ i.goals }}</p><br>
                                                        <a href="/media/{{i.notes}}"><button class="btn btn-outline-warning btn-sm" type="button">View Notes</button></a>
                                                    </div>

                                                </li>
                                                {% endfor %}
                                            </ol>

                                            <div class="arrows">
                                                <button class="arrow arrow__prev">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_prev.svg" alt="prev timeline arrow">
                            </button>
                                                <button class="arrow arrow__next">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_next.svg" alt="next timeline arrow">
                            </button>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}

        <!-- footer -->
        <!--<footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row border-top pt-">
              <div class="col-lg-6 text-center">
                <ul class="list-inline">
                  <li class="list-inline-item mr-2">
                    <a href="#" class="text-dark">SPSU</a>
                  </li>
                  <li class="list-inline-item mr-2">
                    <a href="#" class="text-dark">About</a>
                  </li>
                  <li class="list-inline-item mr-2">
                    <a href="#" class="text-dark">Support</a>
                  </li>
                  <li class="list-inline-item mr-2">
                    <a href="#" class="text-dark">Blog</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6 text-center">
                <h5>Designed By Aniket vyas</h5>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </footer>-->
        <!-- end of footer -->

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <script src="{% static 'js/script.js' %}"></script>
        {% for i in messages %}
        <script>
            alert(' {{i}} ')
        </script>
        {% endfor %}
</body>

</html>